Автор материала: Зраев Артем.

Можно использовать в каких угодно целях.

<b> В задании нужно загрузить датасет с данными оттока и ответить на несколько вопросов (написать код). При этом сам датасет уже есть и его необязательно качать с репозитория</b>

Цель задания: проверить базовые навыки работы студентов с Pandas, умение проводить такой же базовый EDA (exploratory data analysis), делать feature engineering и обучать и валидировать модель.

Список столбцов с типами данных в датасете:

- customerID           object
- gender               object
- SeniorCitizen         int64
- Partner              object
- Dependents           object
- tenure                int64
- PhoneService         object
- MultipleLines        object
- InternetService      object
- OnlineSecurity       object
- OnlineBackup         object
- DeviceProtection     object
- TechSupport          object
- StreamingTV          object
- StreamingMovies      object
- Contract             object
- PaperlessBilling     object
- PaymentMethod        object
- MonthlyCharges      float64
- TotalCharges         object
- Churn                object

In [1]:
import pandas as pd
import numpy as np
#import pip
#pip.main(['install', 'dill'])

In [2]:
df = pd.read_csv("./WA_Fn-UseC_-Telco-Customer-Churn.csv")
df.head(3)

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
0,7590-VHVEG,Female,0,Yes,No,1,No,No phone service,DSL,No,...,No,No,No,No,Month-to-month,Yes,Electronic check,29.85,29.85,No
1,5575-GNVDE,Male,0,No,No,34,Yes,No,DSL,Yes,...,Yes,No,No,No,One year,No,Mailed check,56.95,1889.5,No
2,3668-QPYBK,Male,0,No,No,2,Yes,No,DSL,Yes,...,No,No,No,No,Month-to-month,Yes,Mailed check,53.85,108.15,Yes

##### 1. Какое соотношение мужчин и женщин в представленном наборе данных?

In [3]:
F = df.loc[df['gender'] == 'Female'].shape[0]
M = df.loc[df['gender'] != 'Female'].shape[0]
print(f"Всего: {df.shape[0]}\nЖенщин: {F}\nМужчин: {M}\nСоотношение: {M/F}")

Всего: 7043
Женщин: 3488
Мужчин: 3555
Соотношение: 1.0192087155963303

##### 2. Какое количество уникальных значений у поля InternetService?

In [4]:
#Ваш код здесь
print(pd.unique(df['InternetService']))

['DSL' 'Fiber optic' 'No']

##### 3. Выведите статистики по полю TotalCharges (median, mean, std).

In [5]:
#Ваш код здесь
print(df['TotalCharges'].dtypes) # Смотрим тип данных пандас в столбце TotalCharges. Object означает либо строку, либо смешанный. Надо уточнить
print(type(df['TotalCharges'][0])) # Смотрим тип данных первой строки в столбце TotalCharges. Это строка.
set([type(df['TotalCharges'][x]) for x in range(df.shape[0])]) # смотрим какие типы данных вообще встречаются в этом столбце. Это только строки.

object
<class 'str'>

{str}

In [6]:
missing = [488, 753, 936, 1082, 1340, 3331, 3826, 4380, 5218, 6670, 6754] # заранее посмотрим что лежит в ячейках которые не удалось превратить в число

In [7]:
df['TotalCharges'][missing]

488
753
936
1082
1340
3331
3826
4380
5218
6670
6754
Name: TotalCharges, dtype: object

In [8]:
#df['TotalCharges'] = df['TotalCharges'].astype('float') Данный код кидает ошибку
print(pd.unique(df['TotalCharges']).shape) 
df['TotalCharges'] = pd.to_numeric(df['TotalCharges'],errors='coerce')

(6531,)

In [9]:
df[df['TotalCharges'].isna() == True] # смотрим в каких ячейках NaN

,customerID,gender,SeniorCitizen,Partner,Dependents,tenure,PhoneService,MultipleLines,InternetService,OnlineSecurity,...,DeviceProtection,TechSupport,StreamingTV,StreamingMovies,Contract,PaperlessBilling,PaymentMethod,MonthlyCharges,TotalCharges,Churn
488,4472-LVYGI,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,Yes,Bank transfer (automatic),52.55,NaN,No
753,3115-CZMZD,Male,0,No,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.25,NaN,No
936,5709-LVOEQ,Female,0,Yes,Yes,0,Yes,No,DSL,Yes,...,Yes,No,Yes,Yes,Two year,No,Mailed check,80.85,NaN,No
1082,4367-NUYAO,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.75,NaN,No
1340,1371-DWPAZ,Female,0,Yes,Yes,0,No,No phone service,DSL,Yes,...,Yes,Yes,Yes,No,Two year,No,Credit card (automatic),56.05,NaN,No
3331,7644-OMVMY,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,19.85,NaN,No
3826,3213-VVOLG,Male,0,Yes,Yes,0,Yes,Yes,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,25.35,NaN,No
4380,2520-SGTTA,Female,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,Two year,No,Mailed check,20.00,NaN,No
5218,2923-ARZLG,Male,0,Yes,Yes,0,Yes,No,No,No internet service,...,No internet service,No internet service,No internet service,No internet service,One year,Yes,Mailed check,19.70,NaN,No
6670,4075-WKNIU,Female,0,Yes,Yes,0,Yes,Yes,DSL,No,...,Yes,Yes,Yes,No,Two year,No,Mailed check,73.35,NaN,No
6754,2775-SEFEE,Male,0,No,Yes,0,Yes,Yes,DSL,Yes,...,No,Yes,No,No,Two year,Yes,Bank transfer (automatic),61.90,NaN,No

In [10]:
#df[df.applymap(np.isreal)['TotalCharges'] == True]

In [11]:
set([type(df['TotalCharges'][x]) for x in range(df.shape[0])]) # убеждаемся что кроме float типов данных не осталось.

{numpy.float64}

In [12]:
print(f"Mean: {df['TotalCharges'].mean()}\nMedian: {df['TotalCharges'].median()}\nstd: {df['TotalCharges'].std()}")

Mean: 2283.3004408418697
Median: 1397.475
std: 2266.7713618831453

В чем странность того, что вы получили? (подсказка: смотреть нужно на тип данных)

Странности нет, просто пока во float не превратишь ничего не работает)

##### 4. Сделайте замену значений поля PhoneService  на числовые (Yes->1, No->0)

In [13]:
#set([df['PhoneService'][x] for x in range(df.shape[0])])
print(pd.unique(df['PhoneService']))

['No' 'Yes']

In [14]:
#Ваш код здесь
df['PhoneService'] = np.where(df['PhoneService'] == 'Yes', 1, 0)

In [15]:
df['PhoneService']

0       0
1       1
2       1
3       0
4       1
       ..
7038    1
7039    1
7040    0
7041    1
7042    1
Name: PhoneService, Length: 7043, dtype: int32

##### 5. Сделайте замену пробелов в поле TotalCharges на np.nan и приведите поле к типу данных float32. Затем заполните оставшиеся пропуски значением 0 с помощью метода fillna у столбца. Снова выведите статистики и сравните с тем, что вы видели в вопросе 3

In [16]:
#Ваш код здесь
df['TotalCharges'] = df['TotalCharges'].fillna(0)
df[df['TotalCharges'].isna() == True]

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 21 columns]

In [17]:
print(f"Mean: {df['TotalCharges'].mean()}\nMedian: {df['TotalCharges'].median()}\nstd: {df['TotalCharges'].std()}")

Mean: 2279.734303563826
Median: 1394.55
std: 2266.7944696890195

есть небольшие отличия из-за появления новых нулей.

##### 6. Сделайте замену значений поля Churn на числовые (Yes -> 1, No - 0)

In [18]:
#Ваш код здесь
print(pd.unique(df['Churn']))

['No' 'Yes']

In [19]:
df['Churn'] = np.where(df['Churn'] == 'Yes', 1, 0)

In [20]:
print(pd.unique(df['Churn']))

[0 1]

##### 7. Сделайте замену значений полей StreamingMovies, StreamingTV, TechSupport  на числовые (Yes -> 1, No -> 0, No internet service->0)

In [21]:
df[['StreamingMovies', 'StreamingTV', 'TechSupport']]

     StreamingMovies StreamingTV TechSupport
0                 No          No          No
1                 No          No          No
2                 No          No          No
3                 No          No         Yes
4                 No          No          No
...              ...         ...         ...
7038             Yes         Yes         Yes
7039             Yes         Yes          No
7040              No          No          No
7041              No          No          No
7042             Yes         Yes         Yes

[7043 rows x 3 columns]

In [22]:
print(pd.unique(df[['StreamingMovies', 'StreamingTV', 'TechSupport']].values.ravel('K')))

['No' 'Yes' 'No internet service']

In [23]:
#Ваш код здесь
#set([df['Churn'][x] for x in range(df.shape[0])])
df[['StreamingMovies', 'StreamingTV', 'TechSupport']] = np.where(df[['StreamingMovies', 'StreamingTV', 'TechSupport']] == 'Yes', 1, 0)

In [24]:
print(pd.unique(df[['StreamingMovies', 'StreamingTV', 'TechSupport']].values.ravel('K')))

[0 1]

##### 8. Заполните пропуски в поле PhoneService значением 0

In [25]:
df[df['PhoneService'].isna() == True] # пропуски отсутствуют

Empty DataFrame
Columns: [customerID, gender, SeniorCitizen, Partner, Dependents, tenure, PhoneService, MultipleLines, InternetService, OnlineSecurity, OnlineBackup, DeviceProtection, TechSupport, StreamingTV, StreamingMovies, Contract, PaperlessBilling, PaymentMethod, MonthlyCharges, TotalCharges, Churn]
Index: []

[0 rows x 21 columns]

In [26]:
#Ваш код здесь
df['PhoneService'] = df['PhoneService'].fillna(0)

#### 8. Для нашего датасета оставьте только указанный ниже список полей, удалив все другие и выведите верхние 3 строки

In [27]:
columns = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 
           'StreamingMovies', 'StreamingTV', 'TechSupport', 'Churn']
#Ваш код здесь

df = df[columns]

In [28]:
df.head(3)

,gender,tenure,PhoneService,TotalCharges,StreamingMovies,StreamingTV,TechSupport,Churn
0,Female,1,0,29.85,0,0,0,0
1,Male,34,1,1889.50,0,0,0,0
2,Male,2,1,108.15,0,0,0,1

##### 9. Разделите датасет на тренировочную и тестовую выборку (подсказка - воспользуйтесь train_test_split из sklearn.model_selection. Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.model_selection.train_test_split.html)

In [29]:
from sklearn.model_selection import train_test_split

features = ['gender', 'tenure', 'PhoneService', 'TotalCharges', 'StreamingMovies', 'StreamingTV', 'TechSupport']
target = 'Churn'
#Ваш код здесь
X_train, X_test, y_train, y_test = train_test_split(df[features], df[target],
                                                    test_size=0.2,
                                                    random_state=1,
                                                    stratify=df[target])

In [30]:
y_test

6826    0
687     1
3787    0
4130    0
640     0
       ..
3295    0
4039    0
3766    1
2541    0
936     0
Name: Churn, Length: 1409, dtype: int32

##### 10. соберите pipeline для поля gender (нужно разобраться и изучить https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html ) из классов ColumnSelector и OHEEncoder, которые уже написаны ниже заранее

In [31]:
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.pipeline import Pipeline

class ColumnSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[self.key]
    
class NumberSelector(BaseEstimator, TransformerMixin):
    """
    Transformer to select a single column from the data frame to perform additional transformations on
    Use on numeric columns in the data
    """
    def __init__(self, key):
        self.key = key

    def fit(self, X, y=None):
        return self

    def transform(self, X):
        return X[[self.key]]
    
class OHEEncoder(BaseEstimator, TransformerMixin):
    def __init__(self, key):
        self.key = key
        self.columns = []

    def fit(self, X, y=None):
        self.columns = [col for col in pd.get_dummies(X, prefix=self.key).columns]
        return self

    def transform(self, X):
        X = pd.get_dummies(X, prefix=self.key)
        test_columns = [col for col in X.columns]
        for col_ in test_columns:
            if col_ not in self.columns:
                X[col_] = 0
        return X[self.columns]

gender = Pipeline([ # Уже написано 
                ('selector', ColumnSelector(key='gender')),
                ('ohe', OHEEncoder(key='gender'))
            ])

In [32]:
#pipeline = Pipeline([('title_selector', FeatureSelector(column='Title')), 
#                     ('title_tfidf', TfidfVectorizer()), 
#                     ('clf', LogisticRegression())])

##### 11. Вызовите метод fit_transform у пайплайна gender и передайте туда нашу тренировочную выборку (пример по ссылке из документации https://scikit-learn.org/stable/modules/generated/sklearn.pipeline.Pipeline.html#sklearn.pipeline.Pipeline.fit)

In [33]:
#Ваш код здесь
gender.fit_transform(X_train, y_train)

      gender_Female  gender_Male
2246              1            0
6843              1            0
159               0            1
6259              0            1
4291              1            0
...             ...          ...
1538              0            1
3935              1            0
1128              0            1
318               0            1
1309              1            0

[5634 rows x 2 columns]

##### 12. Здесь код писать уже не нужно (все сделано за вас). К полю tenure применяем StandardScaler (нормируем и центрируем). Ссылка - https://scikit-learn.org/stable/modules/generated/sklearn.preprocessing.StandardScaler.html
Вопрос - в каких случаях это может быть полезно?

In [34]:
from sklearn.preprocessing import StandardScaler

tenure =  Pipeline([
                ('selector', NumberSelector(key='tenure')),
                ('standard', StandardScaler())
            ])

# стандартизация нужна чтобы уровнять разнородные признаки. 
# Например признак "цена" может колебаться от нуля до миллионов, а признак "возраст" от 0 до 100. 
# Если оставить все так, модель не сможет верно оценить значимость того или иного признака.

##### 13. Напишите аналогичный (как для tenure) преобразователь поля TotalCharges

In [35]:
#Ваш код здесь
TotalCharges =  Pipeline([
                ('selector', NumberSelector(key='TotalCharges')),
                ('standard', StandardScaler())
            ])

Объединение всех "кубиков" очень легко сделать таким образом

In [36]:
from sklearn.pipeline import FeatureUnion

number_features = Pipeline([
                ('selector', ColumnSelector(key=['PhoneService',
                                                 'StreamingMovies', 'StreamingTV', 
                                                 'TechSupport']))
            ])

In [37]:
feats = FeatureUnion([('tenure', tenure),
                      ('TotalCharges', TotalCharges),
                      ('continuos_features', number_features),
                      ('gender', gender)])
feature_processing = Pipeline([('feats', feats)])

На этом этапе что мы сделали:
1. написали преобразователь поля gender, который делает OHE кодирование
2. написали преобразователь для поля tenure, который нормирует и центрирует его 
3. повторили п. 2 для поля TotalCharges
3. для всех остальных просто взяли признаки как они есть, без изменений

У нас уже готов наш пайплайн, который преобразовывает признаки. Давайте обучим модель поверх него. В качестве модели возьмем RandomForestClassifier

In [38]:
from sklearn.ensemble import RandomForestClassifier

pipeline = Pipeline([
    ('features',feats),
    ('classifier', RandomForestClassifier(random_state = 42)),
])

pipeline.fit(X_train, y_train)

Pipeline(steps=[('features',
                 FeatureUnion(transformer_list=[('tenure',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='tenure')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('TotalCharges',
                                                 Pipeline(steps=[('selector',
                                                                  NumberSelector(key='TotalCharges')),
                                                                 ('standard',
                                                                  StandardScaler())])),
                                                ('continuos_features',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key=['PhoneService',
                                                                                      'StreamingMovies',
                                                                                      'StreamingTV',
                                                                                      'TechSupport']))])),
                                                ('gender',
                                                 Pipeline(steps=[('selector',
                                                                  ColumnSelector(key='gender')),
                                                                 ('ohe',
                                                                  OHEEncoder(key='gender'))]))])),
                ('classifier', RandomForestClassifier(random_state=42))])

##### 14. Сделайте прогноз вероятности оттока для X_test с помощью нашего предобученного на предыдущем шаге пайплайна и убедитесь что вам возвращаются вероятности для 2 классов

In [39]:
#Ваш код здесь
preds = pipeline.predict_proba(X_test) # predict_proba предсказывает вероятность принадлежности к целевому классу, а predict возвращает метку класса.

In [40]:
preds[:, 1]

array([0.02, 0.42, 0.53, ..., 0.17, 0.58, 0.54])

In [41]:
preds.shape

(1409, 2)

##### 15. Посчитайте метрики качества получившейся модели (roc_auc, logloss)

In [42]:
y_test.shape

(1409,)

In [43]:
from sklearn.metrics import roc_auc_score, log_loss

#Ваш код здесь
print(roc_auc_score(y_test, preds[:, 0]), roc_auc_score(y_test, preds[:, 1]))

0.23123175488904388 0.7687682451109561

In [44]:
print(log_loss(y_test, preds))

0.9920559750922935

### Сохраним наш пайплайн

In [45]:
import dill
with open("model_RF.dill", "wb") as f:
    dill.dump(pipeline, f)