In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
#from imblearn import over_sampling, under_sampling
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
def min_max_scale(X):
    return (X - X.min()) / (X.max() - X.min())

Ваша задача этом соревновании - предсказать вероятность того, подойдет ли репетитор для подготовки к экзамену по математике. Вам будут даны два датасета: train.csv (содержит признаки и целевую переменную) и test.csv (только признаки).

In [3]:
df_raw = pd.read_csv('./data/train2.csv', sep=',')
df_raw
features = ['physics', 'chemistry', 'biology', 'english', 'geography', 'history', 'age', 'years_of_experience', 'lesson_price', 'qualification', 'mean_exam_points'] 
lessons = ['physics', 'chemistry', 'biology', 'english', 'geography', 'history'] 
other = ['age', 'years_of_experience', 'lesson_price', 'qualification', 'mean_exam_points'] 
target = ['choose']
df_raw = df_raw[features + target]

In [4]:
df_raw

,physics,chemistry,biology,english,geography,history,age,years_of_experience,lesson_price,qualification,mean_exam_points,choose
0,0.0,0.0,0.0,0.0,0.0,0.0,35.0,0.0,2150.0,2.0,74.0,0
1,1.0,0.0,1.0,0.0,0.0,1.0,52.0,2.0,1250.0,2.0,57.0,1
2,1.0,0.0,0.0,0.0,0.0,0.0,29.0,3.0,1750.0,1.0,66.0,0
3,0.0,0.0,0.0,0.0,0.0,0.0,33.0,3.0,1050.0,1.0,66.0,1
4,1.0,0.0,0.0,0.0,0.0,0.0,46.0,3.0,2250.0,2.0,73.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.0,0.0,0.0,0.0,0.0,0.0,55.0,2.0,2150.0,2.0,79.0,0
9996,0.0,0.0,0.0,0.0,0.0,0.0,53.0,2.0,1350.0,1.0,59.0,0
9997,0.0,0.0,0.0,0.0,0.0,1.0,44.0,5.0,1750.0,1.0,59.0,0
9998,1.0,0.0,0.0,0.0,0.0,0.0,41.0,0.0,1700.0,2.0,72.0,0
9999,0.0,0.0,0.0,0.0,0.0,0.0,41.0,5.0,1200.0,1.0,40.0,0

In [5]:
df_raw.shape

(10000, 12)

In [6]:
df_raw[df_raw['choose'] == 1]['english'].value_counts()

0.0    1027
1.0      82
Name: english, dtype: int64

In [7]:
df_raw[df_raw['choose'] == 1].value_counts()

physics  chemistry  biology  english  geography  history  age   years_of_experience  lesson_price  qualification  mean_exam_points  choose
1.0      0.0        0.0      0.0      0.0        0.0      57.0  0.0                  1400.0        1.0            68.0              1         2
                                                          53.0  1.0                  2300.0        4.0            88.0              1         1
                                                                3.0                  1750.0        2.0            67.0              1         1
                                                                2.0                  1850.0        2.0            67.0              1         1
                                                                                     1700.0        2.0            69.0              1         1
                                                                                                                                             ..
0.0      1.0        0.0      0.0      1.0        0.0      49.0  2.0                  2250.0        3.0            79.0              1         1
                             1.0      0.0        0.0      32.0  0.0                  1150.0        1.0            59.0              1         1
                                                          47.0  5.0                  700.0         1.0            53.0              1         1
                    1.0      0.0      0.0        0.0      30.0  0.0                  1450.0        2.0            55.0              1         1
1.0      1.0        1.0      0.0      0.0        0.0      67.0  1.0                  1650.0        2.0            77.0              1         1
Length: 1108, dtype: int64

In [8]:
#X = np.array(df_raw[featuresF+features].copy())
#Y = np.array(df_raw[target].copy())
#X.shape[1]
df = df_raw[features+target].copy()

In [9]:
#X_norm = X.copy().astype(np.float64)
#Y_norm = Y.copy().astype(np.float64) data.take([column_index], axis=1)
df_raw = df_raw #.head(2000)
df = min_max_scale(df_raw)
df

,physics,chemistry,biology,english,geography,history,age,years_of_experience,lesson_price,qualification,mean_exam_points,choose
0,0.0,0.0,0.0,0.0,0.0,0.0,0.266667,0.000000,0.520000,0.333333,0.611940,0.0
1,1.0,0.0,1.0,0.0,0.0,1.0,0.644444,0.222222,0.280000,0.333333,0.358209,1.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.133333,0.333333,0.413333,0.000000,0.492537,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,0.222222,0.333333,0.226667,0.000000,0.492537,1.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.511111,0.333333,0.546667,0.333333,0.597015,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
9995,1.0,0.0,0.0,0.0,0.0,0.0,0.711111,0.222222,0.520000,0.333333,0.686567,0.0
9996,0.0,0.0,0.0,0.0,0.0,0.0,0.666667,0.222222,0.306667,0.000000,0.388060,0.0
9997,0.0,0.0,0.0,0.0,0.0,1.0,0.466667,0.555556,0.413333,0.000000,0.388060,0.0
9998,1.0,0.0,0.0,0.0,0.0,0.0,0.400000,0.000000,0.400000,0.333333,0.582090,0.0
9999,0.0,0.0,0.0,0.0,0.0,0.0,0.400000,0.555556,0.266667,0.000000,0.104478,0.0

In [10]:
df[features[0]].name

'physics'

In [11]:
# ДОПОЛНИТЕЛЬНО

In [12]:
def corr(x, y):
    mean_x = x.mean()
    mean_y = y.mean()
    corr = np.sum((x - mean_x) * (y - mean_y)) / np.sqrt(np.sum((x - mean_x)**2) * np.sum((y - mean_y) ** 2))
    return corr


print(f'Корреляция {df[features[0]].name} с целевой переменной {corr(df[features[0]], df[target[0]])}')
print(f'Корреляция {df[features[1]].name} с целевой переменной {corr(df[features[1]], df[target[0]])}')
print(f'Корреляция {df[features[2]].name} с целевой переменной {corr(df[features[2]], df[target[0]])}')
print(f'Корреляция {df[features[3]].name} с целевой переменной {corr(df[features[3]], df[target[0]])}')
print(f'Корреляция {df[features[4]].name} с целевой переменной {corr(df[features[4]], df[target[0]])}')
print(f'Корреляция {df[features[5]].name} с целевой переменной {corr(df[features[5]], df[target[0]])}')
print(f'Корреляция {df[features[6]].name} с целевой переменной {corr(df[features[6]], df[target[0]])}')
print(f'Корреляция {df[features[7]].name} с целевой переменной {corr(df[features[7]], df[target[0]])}')
print(f'Корреляция {df[features[8]].name} с целевой переменной {corr(df[features[8]], df[target[0]])}')
print(f'Корреляция {df[features[9]].name} с целевой переменной {corr(df[features[9]], df[target[0]])}')
print(f'Корреляция {df[features[10]].name} с целевой переменной {corr(df[features[10]], df[target[0]])}')

Корреляция physics с целевой переменной 0.19518269272542058
Корреляция chemistry с целевой переменной 0.09187793149862475
Корреляция biology с целевой переменной 0.07130966999276674
Корреляция english с целевой переменной 0.022226605633193754
Корреляция geography с целевой переменной 0.006366275269402069
Корреляция history с целевой переменной -0.004699654466494752
Корреляция age с целевой переменной 0.017164826103781675
Корреляция years_of_experience с целевой переменной 0.02901049102172588
Корреляция lesson_price с целевой переменной -0.13401319037834666
Корреляция qualification с целевой переменной 0.042160313749334655
Корреляция mean_exam_points с целевой переменной 0.10940856144347774

In [33]:
def dispersion(df, features_num, new_f):
    # Найдем собственные векторы и собственные значения
 
    covariance_matrix = df.T @ df
    
    eig_values, eig_vectors = np.linalg.eig(covariance_matrix)
    
    # сформируем список кортежей (собственное значение, собственный вектор)
    eig_pairs = [(np.abs(eig_values[i]), eig_vectors[:, i]) for i in range(len(eig_values))]
    
    # и отсортируем список по убыванию собственных значений
    eig_pairs.sort(key=lambda x: x[0], reverse=True)
    
    print('Собственные значения и собственные векторы в порядке убывания:')
    for i in eig_pairs:
        print(i)
    # Оценим долю дисперсии, которая описывается найденными компонентами.
    eig_sum = sum(eig_values)
    var_exp = [(i / eig_sum) * 100 for i in sorted(eig_values, reverse=True)]
    cum_var_exp = np.cumsum(var_exp)
    print(f'Доля дисперсии, описываемая каждой из компонент \n{var_exp}')
    
    # а теперь оценим кумулятивную (то есть накапливаемую) дисперсию при учитывании каждой из компонент
    print(f'Кумулятивная доля дисперсии по компонентам \n{cum_var_exp}')
    # Сформируем вектор весов из собственных векторов, соответствующих первым семи главным компонентам
    W = np.hstack([eig_pairs[i][1].reshape(features_num,1) for i in range(new_f)])

    print(f'Матрица весов W:\n', W)
    # Сформируем новую матрицу "объекты-признаки"
    Z = df.dot(W)
    return Z

In [45]:
Z = dispersion(df[features], 11, 7)

Собственные значения и собственные векторы в порядке убывания:
(10269.854565532964, array([0.45721012, 0.12725217, 0.12159322, 0.05788671, 0.0264571 ,
       0.01708388, 0.48543094, 0.22326123, 0.39878874, 0.27681903,
       0.48423978]))
(1996.7964137624203, array([ 0.88194422, -0.08665919, -0.10108962, -0.03222547, -0.01945612,
       -0.00661825, -0.20443869, -0.12222499, -0.21612302, -0.24301425,
       -0.2012099 ]))
(1071.219396380397, array([ 0.01082381,  0.94177089,  0.22520096, -0.01139429, -0.00170526,
        0.00357594,  0.0064372 , -0.05074276, -0.08934702, -0.19931429,
       -0.1084624 ]))
(1026.672473076432, array([ 0.02295588, -0.2601892 ,  0.95717904,  0.00247163, -0.01011656,
       -0.00731   , -0.03645381, -0.03011782, -0.04573417, -0.09101091,
       -0.05301353]))
(684.9314906022516, array([ 0.07953349,  0.13886575,  0.08150469, -0.23858743, -0.02044175,
       -0.01856847, -0.67376762, -0.11249179,  0.06656763,  0.62781037,
        0.21181783]))
(549.4832442789276, array([ 0.02040246,  0.03483942,  0.00897493,  0.96828049,  0.01371641,
       -0.01254641, -0.21206388, -0.04362952, -0.00707914,  0.11270647,
        0.02737261]))
(342.7093047398868, array([-0.0133679 , -0.01672646, -0.00737512,  0.0038719 ,  0.03250856,
        0.01856389,  0.26988622, -0.95157172,  0.03949289,  0.09072036,
        0.09976738]))
(269.35782736131205, array([ 0.00321979, -0.00473865,  0.00471548, -0.02169243,  0.99704132,
       -0.00977783, -0.05563003,  0.01617042, -0.00437415, -0.03903235,
        0.01971132]))
(176.92295614380163, array([-0.00599791, -0.00734885,  0.00199866,  0.00432865,  0.00330901,
        0.99516324, -0.06363798,  0.00250163,  0.01963021, -0.05279157,
        0.04793866]))
(140.3888663585015, array([ 0.06886618,  0.02841751,  0.03573546,  0.02160661,  0.05509791,
        0.09101469,  0.35192567,  0.08493516, -0.25768913,  0.62489942,
       -0.62723038]))
(70.41181502827173, array([ 0.02792371,  0.00222759, -0.00275279, -0.00353618,  0.00390991,
       -0.00470529, -0.13573019, -0.06484721,  0.84340658, -0.08010983,
       -0.50870198]))
Доля дисперсии, описываемая каждой из компонент
[61.87125888629286, 12.029801110694152, 6.4536154990847585, 6.185240303823713, 4.126404449450657, 3.3103896304978795, 2.0646695608977765, 1.6227598709774176, 1.0658813085084142, 0.8457798345432798, 0.424199545229089]
Кумулятивная доля дисперсии по компонентам
[ 61.87125889  73.90106     80.3546755   86.5399158   90.66632025
  93.97670988  96.04137944  97.66413931  98.73002062  99.57580045
 100.        ]
Матрица весов W:
 [[ 0.45721012  0.88194422  0.01082381  0.02295588  0.07953349  0.02040246
  -0.0133679 ]
 [ 0.12725217 -0.08665919  0.94177089 -0.2601892   0.13886575  0.03483942
  -0.01672646]
 [ 0.12159322 -0.10108962  0.22520096  0.95717904  0.08150469  0.00897493
  -0.00737512]
 [ 0.05788671 -0.03222547 -0.01139429  0.00247163 -0.23858743  0.96828049
   0.0038719 ]
 [ 0.0264571  -0.01945612 -0.00170526 -0.01011656 -0.02044175  0.01371641
   0.03250856]
 [ 0.01708388 -0.00661825  0.00357594 -0.00731    -0.01856847 -0.01254641
   0.01856389]
 [ 0.48543094 -0.20443869  0.0064372  -0.03645381 -0.67376762 -0.21206388
   0.26988622]
 [ 0.22326123 -0.12222499 -0.05074276 -0.03011782 -0.11249179 -0.04362952
  -0.95157172]
 [ 0.39878874 -0.21612302 -0.08934702 -0.04573417  0.06656763 -0.00707914
   0.03949289]
 [ 0.27681903 -0.24301425 -0.19931429 -0.09101091  0.62781037  0.11270647
   0.09072036]
 [ 0.48423978 -0.2012099  -0.1084624  -0.05301353  0.21181783  0.02737261
   0.09976738]]

In [46]:
Z = min_max_scale(Z)
Z.min()

0    0.0
1    0.0
2    0.0
3    0.0
4    0.0
5    0.0
6    0.0
dtype: float64

In [38]:
#train_data, test_data, train_target, test_target = train_test_split(Z,  df[target].head(2000), #X_train, X_test, y_train, y_test
#                                                                    test_size=0.3,
#                                                                    random_state=1)

In [19]:
# ДОПОЛНИТЕЛЬНО в итоге от этого только хуже, поэтому убрал

In [20]:
def e_metrics(x1, x2):
    
    distance = np.sum(np.square(x1 - x2))

    return np.sqrt(distance)

In [21]:
def knn(x_train, y_train, x_test, k):
    
    answers = []
    for x in x_test:
        test_distances = []
            
        for i in range(len(x_train)):
            
            # расчет расстояния от классифицируемого объекта до
            # объекта обучающей выборки
            distance = e_metrics(x, x_train[i])
            
            # Записываем в список значение расстояния и ответа на объекте обучающей выборки
            test_distances.append((distance, y_train[i]))
        
        # создаем словарь со всеми возможными классами
        classes = {class_item: 0 for class_item in set(y_train)}
        
        # Сортируем список и среди первых k элементов подсчитаем частоту появления разных классов
        for d in sorted(test_distances)[0:k]:
            classes[d[1]] += 1

        # Записываем в список ответов наиболее часто встречающийся класс
        answers.append(sorted(classes, key=classes.get)[-1])
        
    return answers

In [22]:
#set(train_target.values.flatten())

{0.0, 1.0}

In [39]:
#ans = knn(train_data.values, train_target.values.flatten(), test_data.values, 5)

In [40]:
#len(ans)

600

In [41]:
def accuracy(pred, y):
    return (sum(pred == y) / len(y))

In [42]:
#k = 2

#print(f'Точность алгоритма при k = {5}: {accuracy(ans, test_target.values.flatten()):.3f}')

Точность алгоритма при k = 5: 0.997

In [27]:
df_test_raw = pd.read_csv('./data/test2.csv', sep=',')

In [28]:
df_test_raw = df_test_raw[features] #.head(2000)
df_test =  min_max_scale(df_test_raw)

In [56]:
#Z_test = dispersion(df_test, 11, 7)
#Z_test = min_max_scale(Z_test)
#Z_test.min()

In [29]:
%time test_ans = knn(df[features].values, df[target].values.flatten(), df_test.values, 5)

In [48]:
#%time test_ans = knn(Z.values, df[target].values.flatten(), Z_test.values, 5) #очень долго

Wall time: 18min 44s

In [49]:
print(test_ans.count(1), test_ans.count(0) )

964 9036

In [50]:
len(test_ans)

10000

In [51]:
set(test_ans)

{0.0, 1.0}

In [52]:
sample = pd.read_csv('./data/sample_submission2.csv', sep=',')
sample = sample #.head(2000)

In [53]:
sample['choose'] = test_ans

In [54]:
sample

         Id  choose
0     10000     1.0
1     10001     0.0
2     10002     0.0
3     10003     0.0
4     10004     0.0
...     ...     ...
9995  19995     0.0
9996  19996     0.0
9997  19997     0.0
9998  19998     0.0
9999  19999     0.0

[10000 rows x 2 columns]

In [55]:
sample.to_csv('./data/ANSWERS.csv', index=False)